<h1>Sample for OSA Sandbox!</h1>
  <h4>Please log in using Devise</h4>
  <%= link_to "Register now!", new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to "Sign in!", new_user_session_path, class: 'btn btn-primary' %>
  <%= link_to "Log out!", destroy_user_session_path, :method => 'delete', class: 'btn btn-primary'%>

  <p>
    You can also make some posts as well!
    </p>
